.image-box{
  top:-62px;
  left:-16px;
  position:relative;
  height:100px;
}
.sidebar_image{
  width:45px;
  margin-right:10px;
  margin-bottom:10px;
  margin-top:10px;
  border-radius: 50%;
}
.proftext{
  position:relative;
  font-size: 17px;
  font-weight: bold;
  top:0px;
  left: 25px;
}
.profileInfo{
  position:relative;
  font-size: 16px;
  margin-bottom:5px;
  top:-105px;
  left: -10px;
}
.profilePane{
  height:260px;
  width:100px;
  padding:0px;
  margin-left:15px;
  margin-right:0px;
}
.profileAbout{

  padding:0px;
  padding-left:15px;
  padding-top:25px;
}
.graphPad{

  padding:15px;
  padding-bottom:50px;
  
}
.profileTitle{
	margin-left:-5%;
  margin-right:-5%;
	margin-top:8px;
	margin-bottom:5px;
  font-size: 35px;
}

.profileHeader{
  text-align:center;
  position:relative;
  left:-6%;
  margin-left:-5%;
  margin-right:-5%;
  margin-bottom: 30px;
}

.profileImage{
	margin-top:10px;
	width:85px;
  border-radius: 50%;
}
.profilePie{
	margin-top:-10px;
	margin-left:15px;
	width:90%;
}
